<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Table</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">


    <!-- DataTables CSS -->
    <link href="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'bower_components/datatables-responsive/css/dataTables.responsive.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="engineProductService.html">Dashboard</a>
            </div>
            <!-- /.navbar-header -->

            

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <br>
                        <br>
                        <br>
                        
                        <li>
                            <a href="engineProductService.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        
                        <li>
                            <a href="ProductService.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>

                        <li>
                            <a href="pickup.html"><i class="fa fa-files-o fa-fw"></i>Pick Ups
                            </a>
                        </li>
                        
                        <li>
                            <a href="blank.html"><i class="fa fa-files-o fa-fw"></i>Blank Page
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">AppMakr</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Page Likes Table
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Likes</th>
                                            <th>Talking About</th>
                                            <th>Found</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX"><td>
29-Mar-15
</td><td>
61761
</td><td>
2958
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
30-Mar-15
</td><td>
61944
</td><td>
2958
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
31-Mar-15
</td><td>
62256
</td><td>
2896
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
01-Apr-15
</td><td>
62456
</td><td>
2389
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
02-Apr-15
</td><td>
62678
</td><td>
2389
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
03-Apr-15
</td><td>
62893
</td><td>
2389
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
04-Apr-15
</td><td>
63123
</td><td>
2389
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
05-Apr-15
</td><td>
63356
</td><td>
2389
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
06-Apr-15
</td><td>
63456
</td><td>
2389
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
07-Apr-15
</td><td>
64100
</td><td>
2389
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
08-Apr-15
</td><td>
64256
</td><td>
2389
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
09-Apr-15
</td><td>
64658
</td><td>
2389
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
10-Apr-15
</td><td>
65235
</td><td>
2389
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
11-Apr-15
</td><td>
65356
</td><td>
2389
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
12-Apr-15
</td><td>
65458
</td><td>
2389
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
13-Apr-15
</td><td>
66158
</td><td>
2389
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
14-Apr-15
</td><td>
66568
</td><td>
2389
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
15-Apr-15
</td><td>
66758
</td><td>
2389
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
16-Apr-15
</td><td>
66956
</td><td>
2389
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
17-Apr-15
</td><td>
67135
</td><td>
2389
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
18-Apr-15
</td><td>
67356
</td><td>
2389
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
19-Apr-15
</td><td>
67489
</td><td>
2389
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
20-Apr-15
</td><td>
67595
</td><td>
4939
</td><td>
no
</td></tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->




        <div id="page-wrapper">
                        <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Post Advertise Table
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Average</th>
                                            <th>Ratio</th>
                                            <th>Final verdict</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX"><td>
29-Mar-15
</td><td>
8
</td><td>
10
</td><td>Power hit
</td></tr>
<tr class="odd gradeX"><td>
30-Mar-15
</td><td>
7
</td><td>
10
</td><td>Power hit
</td></tr>
<tr class="odd gradeX"><td>
03-Apr-15
</td><td>
79
</td><td>
10
</td><td>Power hit
</td></tr>
<tr class="odd gradeX"><td>
04-Apr-15
</td><td>
124
</td><td>
7
</td><td>Power hit
</td></tr>
<tr class="odd gradeX"><td>
05-Apr-15
</td><td>
235
</td><td>
8
</td><td>Power hit
</td></tr>
<tr class="odd gradeX"><td>
07-Apr-15
</td><td>
52
</td><td>
5
</td><td>Success
</td></tr>
<tr class="odd gradeX"><td>
09-Apr-15
</td><td>
1796
</td><td>
0
</td><td>flop
</td></tr>
<tr class="odd gradeX"><td>
11-Apr-15
</td><td>
6510
</td><td>
0
</td><td>flop
</td></tr>
<tr class="odd gradeX"><td>
13-Apr-15
</td><td>
322
</td><td>
8
</td><td>Power hit
</td></tr>
<tr class="odd gradeX"><td>
14-Apr-15
</td><td>
168
</td><td>
2
</td><td>Success
</td></tr>
<tr class="odd gradeX"><td>
15-Apr-15
</td><td>
112
</td><td>
10
</td><td>Power hit
</td></tr>

                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <div>
            <center>
                Flop      -   2<br>
                Sucess    -   2<br>
                Power hit -   7<br>

                Over All Verdict - Have correct audience

            </center>

        </div> 
            </div>
            <!-- /.row -->
            
        </div>





        
        <hr>
        <hr>



        <!-- /#page-wrapper -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">icicidirect</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Page likes Table
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Likes</th>
                                            <th>Talking About</th>
                                            <th>Found</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX"><td>
02-Apr-15
</td><td>
139552
</td><td>
751
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
03-Apr-15
</td><td>
139629
</td><td>
773
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
04-Apr-15
</td><td>
139752
</td><td>
801
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
05-Apr-15
</td><td>
139899
</td><td>
803
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
06-Apr-15
</td><td>
139967
</td><td>
803
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
07-Apr-15
</td><td>
140062
</td><td>
806
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
08-Apr-15
</td><td>
140245
</td><td>
824
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
09-Apr-15
</td><td>
140426
</td><td>
824
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
10-Apr-15
</td><td>
140675
</td><td>
824
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
11-Apr-15
</td><td>
140786
</td><td>
824
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
12-Apr-15
</td><td>
140853
</td><td>
824
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
13-Apr-15
</td><td>
140925
</td><td>
824
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
14-Apr-15
</td><td>
141025
</td><td>
824
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
15-Apr-15
</td><td>
141123
</td><td>
824
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
16-Apr-15
</td><td>
141265
</td><td>
824
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
17-Apr-15
</td><td>
141345
</td><td>
824
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
18-Apr-15
</td><td>
141412
</td><td>
824
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
19-Apr-15
</td><td>
141478
</td><td>
824
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
20-Apr-15
</td><td>
141559
</td><td>
843
</td><td>
no
</td></tr>

                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->
        
        <div id="page-wrapper">
            
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Post Advertise Table
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Average</th>
                                            <th>Ratio</th>
                                            <th>Final verdict</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX"><td>
02-Apr-15
</td><td>
4
</td><td>
0
</td><td>flop
</td></tr>
<tr class="odd gradeX"><td>
03-Apr-15
</td><td>
40
</td><td>
10
</td><td>Power hit
</td></tr>
<tr class="odd gradeX"><td>
04-Apr-15
</td><td>
78
</td><td>
4
</td><td>Success
</td></tr>
<tr class="odd gradeX"><td>
07-Apr-15
</td><td>
23
</td><td>
2
</td><td>Success
</td></tr>
<tr class="odd gradeX"><td>
08-Apr-15
</td><td>
54
</td><td>
10
</td><td>Power hit
</td></tr>
<tr class="odd gradeX"><td>
09-Apr-15
</td><td>
81
</td><td>
5
</td><td>Success
</td></tr>
<tr class="odd gradeX"><td>
10-Apr-15
</td><td>
6667
</td><td>
0
</td><td>flop
</td></tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <div>
            <center>
                Flop      -   2<br>
                Sucess    -   3<br>
                Power hit -   2<br>

                Over All Verdict - Have correct audience

            </center>

        </div> 
            </div>
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->





        <hr>
        <hr>
        
                <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Payoneer</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Page likes Table
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Likes</th>
                                            <th>Talking About</th>
                                            <th>Found</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX"><td>
03-Apr-15
</td><td>
299708
</td><td>
3172
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
04-Apr-15
</td><td>
299999
</td><td>
3333
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
05-Apr-15
</td><td>
300123
</td><td>
3333
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
06-Apr-15
</td><td>
300456
</td><td>
3333
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
07-Apr-15
</td><td>
300789
</td><td>
3333
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
08-Apr-15
</td><td>
301321
</td><td>
3333
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
09-Apr-15
</td><td>
301546
</td><td>
3333
</td><td>
yes
</td></tr>
<tr class="odd gradeX"><td>
10-Apr-15
</td><td>
301789
</td><td>
3333
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
11-Apr-15
</td><td>
302321
</td><td>
3333
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
12-Apr-15
</td><td>
302654
</td><td>
3333
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
13-Apr-15
</td><td>
302954
</td><td>
3333
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
14-Apr-15
</td><td>
303321
</td><td>
3333
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
15-Apr-15
</td><td>
303654
</td><td>
3333
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
16-Apr-15
</td><td>
303987
</td><td>
3333
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
17-Apr-15
</td><td>
304654
</td><td>
3333
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
18-Apr-15
</td><td>
304777
</td><td>
3333
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
19-Apr-15
</td><td>
305111
</td><td>
3333
</td><td>
no
</td></tr>
<tr class="odd gradeX"><td>
20-Apr-15
</td><td>
305910
</td><td>
3333
</td><td>
no
</td></tr>

                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->
        
        <div id="page-wrapper">
            
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Post Advertise Table
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Average</th>
                                            <th>Ratio</th>
                                            <th>Final verdict</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX"><td>
03-Apr-15
</td><td>
65
</td><td>
1
</td><td>Success
</td></tr>
<tr class="odd gradeX"><td>
04-Apr-15
</td><td>
32
</td><td>
10
</td><td>Power hit
</td></tr>
<tr class="odd gradeX"><td>
05-Apr-15
</td><td>
53
</td><td>
1
</td><td>Success
</td></tr>
<tr class="odd gradeX"><td>
06-Apr-15
</td><td>
6510
</td><td>
0
</td><td>flop
</td></tr>
<tr class="odd gradeX"><td>
07-Apr-15
</td><td>
322
</td><td>
8
</td><td>Power hit
</td></tr>
<tr class="odd gradeX"><td>
08-Apr-15
</td><td>
168
</td><td>
2
</td><td>Success
</td></tr>
<tr class="odd gradeX"><td>
09-Apr-15
</td><td>
112
</td><td>
10
</td><td>Power hit
</td></tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <div>
            <center>
                Flop      -   1<br>
                Sucess    -   3<br>
                Power hit -   3<br>

                Over All Verdict - Have correct audience

            </center>

        </div> 
            </div>
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->        

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- DataTables JavaScript -->
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
    </script>

</body>

</html>
